@import url('https://fonts.googleapis.com/css?family=Russo+One');

:root {
  /* css variables */
  --triangleColor: #444;
}

.buttons {
  position: relative;
  display: flex;
}



/* d-PAD *************************************************************/
.dPad {
  position: relative;
  filter: drop-shadow(3px 2px 2px #555);
  left: 3.2em;
  top: 4em;
}

.center {
  z-index: 2;
  top: 3em;
}

.center-circle {
  position: static;
/*   background: #222532; */
  background: var(--triangleColor);
/*   background: #90E4FF; */
/*   background: #7FFFB5; */
  border-radius: 100%;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.direction, .center {
  padding: 0;
  margin: 0;
  width: 3em;
  height: 3em;
  position: absolute;
  display: flex;
  /* background-image: linear-gradient(to top, #222, #000); */
  background-image: linear-gradient(to top, #333, #111);
  background-color: #0C0F1B;
  padding: 1em;
  border: 0.01em solid #333;
}

.up:hover, .up:active, .activated {
  /* inset verticalPos, horizPos, blur, spread */
  transform: translate(0, 0.2em) skewX(-1deg);
  box-shadow: inset -2px 3px 6px 0 #222,inset 2px 11px 25px 0 #000;
  -moz-box-shadow: inset -2px 3px 6px 0 #222,inset 2px 11px 25px 0 #000;
  -webkit-box-shadow: inset -2px 3px 6px 0 #222,inset 2px 11px 25px 0 #000;
  background-color: #000000;
}

.right:hover, .right:active, .activated {
  /* inset verticalPos, horizPos, blur, spread */
  transform: translate(-0.2em, 0) skewX(1deg);
  box-shadow: inset -3px 2px 6px 0 #222,inset -11px 2px 25px 0 #000;
  -moz-box-shadow: inset -3px 2px 6px 0 #222,inset -11px 2px 25px 0 #000;
  -webkit-box-shadow: inset -3px 2px 6px 0 #222,inset -11px 2px 25px 0 #000;
  background-color: #000000;
}

.down:hover, .down:active, .activated {
  /* inset verticalPos, horizPos, blur, spread */
  transform: translate(0, -0.2em) skewY(1deg);
  box-shadow: inset 2px -3px 6px 0 #222,inset 2px -11px 25px 0 #000;
  -moz-box-shadow: inset 2px -3px 6px 0 #222,inset 2px -11px 25px 0 #000;
  -webkit-box-shadow: inset 2px -3px 6px 0 #222,inset 2px -11px 25px 0 #000;
  background-color: #000000;
}

.left:hover, .left:active, .activated {
  /* inset verticalPos, horizPos, blur, spread */
  transform: translate(0.2em, 0) skewX(1deg);
  box-shadow: inset 3px 2px 6px 0 #222,inset 11px 2px 25px 0 #000;
  -moz-box-shadow: inset 3px 2px 6px 0 #222,inset 11px 2px 25px 0 #000;
  -webkit-box-shadow: inset 3px 2px 6px 0 #222,inset 11px 2px 25px 0 #000;
  background-color: #000000;
}

.right {
  top: 3em;
  left: 3em;
}

.left {
  top: 3em;
  right: 0em;
}

.down {
  top: 6em;
}

.up-triangle {
  position: absolute;
  bottom: 0.8em;
  right: 0.45em;
  margin: auto;
/*   background: yellow; */
  width: 65%;
  height: 65%;
  border-left: solid 1em transparent; 
  border-right: solid 1em transparent; 
  border-bottom: solid 1.6em var(--triangleColor); 
}

.right-triangle {
  position: absolute;
  bottom: 0.45em;
  right: 0.2em;
  margin: auto;
/*   background: yellow; */
  width: 65%;
  height: 65%;
  border-left: solid 1em transparent; 
  border-right: solid 1em transparent; 
  border-bottom: solid 1.6em var(--triangleColor);
  transform: rotate(90deg);
}

.down-triangle {
  position: absolute;
  bottom: 0.2em;
  right: 0.45em;
  margin: auto;
/*   background: yellow; */
  width: 65%;
  height: 65%;
  border-left: solid 1em transparent; 
  border-right: solid 1em transparent; 
  border-bottom: solid 1.6em var(--triangleColor);
  transform: rotate(180deg);
}

.left-triangle {
  position: absolute;
  bottom: 0.45em;
  left: 0.2em;
  margin: auto;
/*   background: yellow; */
  width: 65%;
  height: 65%;
  border-left: solid 1em transparent; 
  border-right: solid 1em transparent; 
  border-bottom: solid 1.6em var(--triangleColor);
  transform: rotate(-90deg);
}

 /* end of d-PAD *****************************************************/




 /* start/stop ******************************************************/

 .startStop {
   display: flex;
   font-family: 'Russo One', sans-serif;
   text-align: center;
   color: #222C7B;
   font-size: 1.1em;
   letter-spacing: 0.1em;
 }

 .startStop > div {
   position: relative;
   margin-right: 1em;
   top: 14.5em;
   left: 8em;
   transform: rotate(-25deg);
 }

 .start, .stop {
   width: 5em;
   height: 1.1em;
   background: #6B6C74;
   border: none;
   border-radius: 100em;
 }

 /* end of startStop ************************/



 .abBtns {
  display: flex;
  position: relative;
  top: 4em;
  left: 6em;
  transform: rotate(-25deg);
  font-family: 'Russo One', sans-serif;
  text-align: center;
  color: #222C7B;
  /* background: black; */
  font-size: 1.5em;
 }

 .abBtns > div:nth-child(1) {
   /* margin: auto; */
  margin-right: 1em;
 }

 .abBtns button {
  width: 4.8em;
  height: 4.8em;
  background: #7C0A45;
  border: none;
  border-radius: 100%;
 }