@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

/* broswer reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* css variables */
  --canvas-bg-color: #465814;
  --gameFrame-color: #C0BEBA;
}

body {
  background: #000;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
}

/* 
.wrapper > * {
  margin: 10px;
} */

.gameBoyFrame {
  height: 53em;
  /* width: 50vw; */
  background: var(--gameFrame-color);
  border: 2.5em solid var(--gameFrame-color);
  border-top: 3.5em solid var(--gameFrame-color);
  border-radius: 1em;
  border-bottom-right-radius: 7em;
}

.subFrame {
  position: relative;
  background: #555865;
  padding: 2.3em 5em;
  border-radius: 1em;
  border-bottom-right-radius: 5.5em;
}

.gameData {
  position: absolute;
  top: 2.5em;
  right: 5.1em;
  /* text-align: right; */
  color: black;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.4em;
}

.message {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 4.8em;
  width: 66%;
  padding: 0 1em;
  line-height: 1.6em;
}

.message > h2, h4 {
  text-align: center;
}

.message > h2 {
  margin-bottom: 0.4em;
  letter-spacing: 0.1em;
}

.message > h4 {
  margin-top: 1.2em;
  letter-spacing: 0.08em;
}

.message > div {
  position: relative;
  left: 1.4em;
}

#canvas {
  background: var(--canvas-bg-color);
  box-sizing: content-box;
  border: 0.1em solid #111111;
  border-radius: 0.2em;
}
